.header
  &__top
    display: flex
    align-items: center
    background: $main-color
    color: #fff
    font-size: 16px
    min-height: 45px
  &__top div
    margin: auto 
  &__menu
    background: linear-gradient($main-color-lighter, $main-color)
  &__menu ul
