.sidebar-menu
  margin-left: 5px
  margin-bottom: $v-step
  text-align: center
  +breakpoint(laptop)
    text-align: left
  & > ul
    list-style: none
    & > li
      border-bottom: 1px solid #e7e7e7
      & a
        text-decoration: none
        display: block
      & > a
        +propToRem(font-size, 20)
        color: #121212
        padding-top: $gutter/2
        padding-bottom: $gutter/2
        &:hover
          color: #b7b7b7
      &:first-child
        a
          padding-top: 0
      & > ul
        list-style: none
        +breakpoint(laptop)
          margin-left: 29px
        & > li
          position: relative
          & > a
            padding: 5px 0
            +propToRem(font-size, 16)
            color: #ff0000
            &:before 
              +breakpoint(laptop)
                content: '-'
                color: #ff0000
                position: absolute
                left: -11px
                width: 5px
            &:hover
              color: #f77474