$main-color: #37a14c
$main-color-lighter: lighten(desaturate($main-color, 2.04), 8.04)
$secondary-color: #fec50d
$secondary-color-darken: darken(desaturate(adjust-hue($secondary-color, -3), 4.06), 4.12)
$max-width: 960px
$gutter: 20px
$v-step: 20px 