*
  margin: 0
  padding: 0
  box-sizing: border-box

  
@import "vars";
@import "mixins";
body
  font-family: Arial, Helvetica, sens-serif
  +propToRem(font-size, 14)
@import "grid";
@import "icons";
@import "header";


.icon-menu
  font-size: 0
  ul
    list-style: none
    display: flex
  li
    margin-left: 5px




  
  

    
    
  