-var settings = {pageName: 'Об игре'}
-;
doctype html
html(lang="uk")
  head
    include includes/head.pug
  body
    include includes/header.pug
    .wrapper
      .row
        .column-laptop-1-4
          include includes/sidebar.pug
        .column-laptop-3-4
          include includes/about-content.pug 
    include includes/footer.pug
