-var settings = {pageName: 'Главная'}
-;
doctype html
html(lang="uk")
  head
    include includes/head.pug
    include includes/mixins.pug
  body
    include includes/header.pug
    .wrapper
      .row
        .column-laptop-1-4
          include includes/sidebar.pug
        .column-laptop-3-4
          include includes/main-content.pug
    include includes/footer.pug
    
