-var settings = {pageName: 'Главная'}
-;
doctype html
html(lang="uk")
  head
    include includes/head.pug
  body
    include includes/mixins.pug
    include includes/header.pug
    -
      var listMenu = [
        {
          title: 'Main'
        },
        {
          title: 'About'
        },
        {
          title: 'services',
          submenu: [
            {
              title: 'digging'
            },
            {
              title: 'carrying'
            },
            {
              title: 'flying',
              submenu: [
                {
                  title: 'sky'
                },
                {
                  title: 'plane'
                }
              ]
            }
          ]
        }
      ] 
    +showMenu(listMenu)

    include includes/footer.pug
    
