-var settings = {pageName: 'Список серверов'}
-;
doctype html
html(lang="uk")
  head
    include includes/head.pug
  body
    include includes/header.pug
    |SERVERS_LIST
    include includes/footer.pug
