.footer
  .footer__top
    .wrapper
      span Подключайся и играй на наших серверах!
      include contacts
  .footer__middle
    .wrapper.partners
      .row
        -for(var i=1; i<5; i++)
          .column-laptop-1-4.column-tablet-1-2
            a(href = '#')
              img(src = '/img/partner' + i + '.png')
        -;
  .footer__bottom
    .wrapper
      span (c) Poshtar Boba, 2016

script(src= '/js/src.js')