.header
  .header__top
    .wrapper.wrapper-no-pad
      .row
        .column-1-2
          div Подключайся и играй на наших серверах!
        .column-1-2
          ul.icon-menu
            li
              a(href="#")
                img(src="./img/vk.png", alt="vk")
            li
              a(href="#")
                img(src="./img/fb.png", alt="fb")
            li
              a(href="#")
                img(src="./img/flag.png", alt="flag")
  .header__middle
    .wrapper
      .row

        .logo
          a(href="#")
            img(src="./img/logo.png", alt="")



  .header__menu
    .wrapper
      - 
        var menu = [
          {
            name: 'Главная', 
            path: 'index.html'
          }, 
          {
            name: 'Об игре', 
            path: 'about.html'
          }, 
          {
            name: 'Список серверов', 
            path: 'serverslist.html',
            sublist: [
              {
                name: 'ТОП-10',
                path: 'top-10.html'
              },
              {
                name: 'Наши сервера',
                path: 'ourservers.html'
              }
            ]
          }, 
          {
            name: 'Наша команда', 
            path: 'team.html'
          },
          {
            name: 'Донат', 
            path: 'donat.html'
          }
        ];
      ul
        each element in menu 
          -;
          li(class = (settings)?(settings.pageName == element.name)?'active':'':'')
            a(href=element.path)= element.name
            if(sublist)
              each subelement in sublist
                a(href = element.sublist.name) = subelement.name
            
            
              
          
      
