.header
  .header__top
    .wrapper
      div Подключайся и играй на наших серверах!
      .icon-menu
        ul
          li
            a(href="#")
              i.icons.icons-vk
          li
            a(href="#")
              i.icons.icons-fb
          li
            a(href="#")
              i.icons.icons-flag
    
  .wrapper
    .row
      .column-phablet-1-2.header-column.header-column_logo
        a.logo(href="index.html")
          img(src="./img/logo.png", alt="")
      .column-phablet-1-2.header-column.header-column_info
        -
          var contacts = [
            {
              title: 'Админ',
              phones: [
                '+38(068) 333-22-10',
                '+38(099) 750-50-50'
              ]
            },
            {
              title: 'По донату',
              phones: ['067-33-22-180']
            }

          ]
        .phone-list
          each item in contacts
            .contact
              .contact__title=item.title
              .contact__phones
                each phone in item.phones
                  div
                    a(href="tel:"+phone.replace(/\D+/g, ""))=phone
        -;
        .div
          |Скайп: 
          a(href="skype: minecraft-km7") minecraft-km7
      .column-phablet-1-2.header-column.header-column_btns
        a.button.m-b-half-step(href="#") вибрати сервер
        a.button(href="#") випадковий сервер
      .column-phablet-1-2.header-column.header-column_img
        img(src="./img/mc.png", alt="")


  .header__menu
    .wrapper
      - 
        var menu = [
          {
            name: 'Главная', 
            path: 'index.html'
          }, 
          {
            name: 'Об игре', 
            path: 'about.html'
          }, 
          {
            name: 'Список серверов', 
            path: 'serverslist.html'
          }, 
          {
            name: 'Наша команда', 
            path: 'team.html'
          },
          {
            name: 'Донат', 
            path: 'donat.html'
          }
        ];
      ul
        each element in menu 
          -;
          li(class = (settings)?(settings.pageName == element.name)?'active':'':'')
            a(href=element.path)= element.name
            
            
              
          
      
