.header
  .header__top
    .wrapper
      div Подключайся и играй на наших серверах!
      .icon-menu
        ul
          li
            a(href="#")
              i.icons.icons-vk
          li
            a(href="#")
              i.icons.icons-fb
          li
            a(href="#")
              i.icons.icons-flag
    
  .wrapper
    .row
      .logo
        a(href="#")
          img(src="./img/logo.png", alt="")
      .contacts




  .header__menu
    .wrapper
      - 
        var menu = [
          {
            name: 'Главная', 
            path: 'index.html'
          }, 
          {
            name: 'Об игре', 
            path: 'about.html'
          }, 
          {
            name: 'Список серверов', 
            path: 'serverslist.html'
          }, 
          {
            name: 'Наша команда', 
            path: 'team.html'
          },
          {
            name: 'Донат', 
            path: 'donat.html'
          }
        ];
      ul
        each element in menu 
          -;
          li(class = (settings)?(settings.pageName == element.name)?'active':'':'')
            a(href=element.path)= element.name
            
            
              
          
      
